@media only screen 
and (min-width : 992px) 
and (max-width : 1200px) {
    
}


@media only screen 
and (min-width : 768px) 
and (max-width : 991px){

    /* feature section padding */
    .feature-section{
        padding-bottom: 40px;
    }

    /* feature box margin bottom */
    .feature {
        margin-bottom: 80px;
    }

    footer.style-1 .copyright{
        margin-bottom: 8px;
    }
}






@media only screen 
and (min-width : 481px) 
and (max-width : 767px){
    .feature {
        margin-bottom: 50px;
    }

    .portfolio-item img{
        display: inline;
        width: 100%;
    }

    footer.style-1 .copyright{
        margin-bottom: 15px;
    }

    footer.style-1 .footer-social {
        margin-top: 20px;
    }

    footer.style-1 .footer-link{
        margin-top: 15px;
    }

    .copyright{
        margin-top: 20px;
    }

    .footer-social{
        margin-top: 20px;
    }

    .footer-link ul{
        float: left !important;
        margin-top: 20px;
    }
}



@media only screen 
and (min-width : 321px) 
and (max-width : 480px){
    .feature {
        margin-bottom: 40px;
    }
    .portfolio-item img{
        display: inline;
    }

    .footer-link ul{
        float: left !important;
        margin-top: 15px;
    }

    .copyright{
        margin-top: 20px;
    }

    .footer-social{
        margin-top: 20px;
    }

    .footer-link ul{
        float: left !important;
        margin-top: 20px;
    }
}



@media only screen 
and (max-width : 320px){

}