@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);

/*=======================================
    Basic Styling Here
=========================================*/
body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 13px;
    line-height: 21px;
}

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a,
a:hover,
a:focus,
a:active,
a.active{
    outline: 0;
}


h1,
h2,
h3,
h4,
h5,
h6{
    text-transform: uppercase; 
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.white-text{
    color: #fff;
}

.section-title h3{
    color: #666; 
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
}


.section-title p{
    padding-bottom: 60px;
    color: #999;
    font-size: 18px;
    font-weight: 300;
}


.btn-primary{
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{
    color: #fff;
    background-color: none !important;
}


/* -------------------------------- */

/* Style Page Loader */

/* --------------------------------- */

#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999999999;
}

.spinner{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    -webkit-animation: rotatee 2.0s infinite linear;
    animation: rotatee 2.0s infinite linear;
}

.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-animation: bouncee 2.0s infinite ease-in-out;
    animation: bouncee 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes rotatee{
    100%{
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotatee{
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes bouncee {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50%{
        -webkit-transform: scale(1.0);
    }
}

@keyframes bouncee {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50%{
        -webkit-transform: scale(1.0);
    }
}
/* -------------------------------- */

/* Start Top Navbar Section */

/* --------------------------------- */

.navbar-default{
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand{
    font-family: "Kaushan script", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-collapse{
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .navbar-toogle .icon-bar{
    background-color: #fff;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    font-size: 12px;
}

.navbar-default .navbar-nav > .active > a{
    border-radius: 0;
    color: #fff ;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
}

@media(min-width: 768px) {
    .navbar-default{
        padding: 25px 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        -o-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 32px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav > .active > a {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .navbar-default.navbar-shrink{
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand{
        font: 24px;
    }
}



/* ---------------------------------------------- */
/*  Start Side Nav Section                        */
/* ---------------------------------------------- */


#main-slide .item{
    height: 700px;
}

#main-slide .item img{
    width: 100%;
}

#main-slide .item .slider-content{
    z-index: 0;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

#main-slide .item.active .slider-content{
    z-index: 0;
    opacity: 1;
    -webkit-transition: opacity 100ms;
    -moz-transition: opacity 100ms;
    -o-transition: opacity 100ms;
    transition: opacity 100ms;
}

#main-slide .slider-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 45%;
    left: 0;
    margin-top: -70px;
    padding: 0;
    color: #fff;
    text-align: center;
}

#main-slide .carousel-indicators{
    bottom: 30px;
}


.carousel-indicators li {
    width: 14px !important;
    height: 14px !important;
    border: 2px solid #fff !important;
    margin: 1px !important;
}

/* Slider Controls */

#main-slide .carousel-control.left,
#main-slide .carousel-control.right {
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
} 

#main-slide .carousel-control.left span {
    padding: 15px;
}

#main-slide .carousel-control.right span{
    padding: 15px;
}

#main-slide .carousel-control .fa-angle-left,
#main-slide .carousel-control .fa-angle-right{
    position: absolute;
    top: 40%;
    z-index: 5;
    display: inline-block;
}


#main-slide .carousel-control .fa-angle-left {
    left: 0;
}

#main-slide .carousel-control .fa-angle-right {
    right: 0;
}


#main-slide .carousel-control i{
    background: rgba(0, 0, 0, .7);
    color: #fff;
    line-height: 36px;
    font-size: 32px;
    padding: 15px 20px;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#main-slide .slider-content h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 55px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

#main-slide .slider-content h2.white,
#main-slide .slider-content h3.white {
    color: #fff;
}


#main-slide .slider-content p {
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 1px;
    margin-bottom: 55px;
    color: #fff;
}

.slider.btn{
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 300;
    border: 0;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

#main-slide .btn-primary:hover{
    background-color: transparent;
    border: 1px solid #fff;
}

.slider.btn.btn-default{
    margin-left: 4px;
    background: #ECECEC;
}

.slider.btn.btn-default:hover{
    background:#000;
    color: #fff;
}

/* Home Slider Animation */

.carousel .item.active .animated1 {
    -webkit-animation: lightSpeedIn 1s ease-in 800ms both;
    animation: lightSpeedIn 1s ease-in 800ms both;
}

.carousel .item.active .animated2 {
    -webkit-animation: bounceIn 1s ease-in 800ms both;
    animation: bounceIn 1s ease-in 800ms both;
}

.carousel .item.active .animated3 {
    -webkit-animation: flipInX 1s ease-in 800ms both;
    animation: flipInX 1s ease-in 800ms both;
}


/* Hemo Slider Responsive Design */

@media (min-width: 992px) {
    #main-slide .slider-content h1{
        font-size: 68px;
    }
}

@media ( min-width: 768px) and (max-width: 991px){
    #main-slide .slider-content h1{
        font-size: 28px;
        line-height: normal;
        margin-bottom: 0;
    }

    #main-slide .slider-content p{
        font-size: 14px;
        margin-top: 5px;
    }

    .slider.btn{
        padding: 5px 25px;
        margin-top: 5px;
        font-size: 16px;
    }

    #main-slide .item{
        height: 550px;
    }
}


@media (max-width: 767px){
    #main-slide .slider-content h1{
        font-size: 28px;
        line-height: normal;
        margin-bottom: 0;
    }

    #main-slide .slider-content p{
        font-size: 14px;
        margin-top: 5px;
    }

    .slider.btn{
        padding: 0 15px;
        margin-top: 0;
        font-size: 12px;
    }

    #main-slide .carousel-indicators{
        display: none;
    }

    #main-slide .item .slider-content {
        display: none;
    }

    #main-slide .item{
        height: 400px;
    }
}


@media (max-width: 479px) {
    #main-slide .item .slider-content{
        display: none;
    }

    #main-slide .item{
        height: 180px;
    }
}


/* ----------------------------------- */

/* Start Feature Section               */

/* ----------------------------------- */
.feature-section{
    padding-top: 100px;
    padding-bottom: 80px;
}


.feature {
    text-align: center;
}

.feature i{
    font-size: 32px;
    width: 80px;
    height: 80px;
    padding: 25px;
    margin-bottom: 10px;
}

.feature i{
    color: #fff;
    box-shadow: 0 0 0 30px transparent;
    -webkit-transform: translate3d(2, 2, 2);
    -moz-transform: translate3d(2, 2, 2);
    -o-transform: translate3d(2, 2, 2);
    transform: translate3d(2, 2, 2);
    -webkit-transition: box-shadow .6s ease-in-out;
    -moz-transition: box-shadow .6s ease-in-out;
    -o-transition: box-shadow .6s ease-in-out;
    transition: box-shadow .6s ease-in-out;
}

.no-touch .feature:hover i,
.no-touch .feature:active i,
.no-touch .feature:focus i {

    -webkit-transition: box-shadow .4s ease-in-out;
    -moz-transition: box-shadow .4s ease-in-out;
    -o-transition: box-shadow .4s ease-in-out;
    transition: box-shadow .4s ease-in-out;
}

.feature .feature-content h4{
    font: 15px;
    color: #666;
    font-weight: 300;
    font-family: 'oswald', sans-serif;
}

.feature .feature-content p{
    color: #444;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}





/* ----------------------------------- */

/* Start Call To Active Section        */

/* ----------------------------------- */


.call-to-action{
    background: url(../images/parallax/call-to.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-attachment: 50% 90%;
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

.call-to-action h1{
    font-weight: 300;
    line-height: 50px;
    padding-bottom: 40px;
    font-size: 30px;
}

.call-to-action .btn-primary{
    padding: 20px;
    font-size: 16px;
}
.call-to-action .btn-primary:hover{
    background: transparent;
}



/* ----------------------------------- */

/* Portfolio Section                   */

/* ----------------------------------- */

.portfolio-section-1{
    padding-top: 80px;
    padding-bottom: 120px;
    background-color: #f7f7f7;
}


#portfolio-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

#portfolio-list li{
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 33.33%;
    margin-left: -4px;
    margin-bottom: -5px;
    padding: 0;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

@media only screen and (max-width: 550px) {

    #portfolio-list li {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 551px) {

    #portfolio-list li {
        width: 49.9%;
    }
}

@media (min-width: 768px) {
    #portfolio-list li {
        width: 33.3%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    #portfolio-list li {
        width: 50%;
    }
}


@media only screen and (min-width: 801px) and (max-width: 991px) {
    #portfolio-list li {
        width: 50%;
    }
}

.portfolio-item{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    cursor: default;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.portfolio-item img{
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.portfolio-item:hover img {
    -webkit-transform: scale(1, 5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.portfolio-caption{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: Alpha(Opacity=0);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.portfolio-item:hover .portfolio-caption{
    opacity: 1;
    filter: Alpha(Opacity=100);
}

.portfolio-caption h4{
    display: inline-block;
    text-transform: uppercase;
    color: #777;
    font-weight: 400;
    text-align: center;
    position: relative;
    font-size: 18px;
    padding: 10px;
    background: #fff;
    top: 14%;
    font-family: 'Oswald', sans-serif;
}

.portfolio-caption a i{
    width: 60px;
    height: 60px;
    padding: 20px;
    font-size: 22px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    background: #fff;
    position: absolute;
    top: 60%;
}

.portfolio-caption a.link-1 i {
    left: 30%;
}

.portfolio-caption a.link-2 i {
    left: 50%;
}



/* Start Model Section for Poppup output Images */

.section-modal .modal-content {
    padding: 100px 0 !important;
    min-height: 100%;
    border: 0 !important;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #888;
    font-weight: 300;

}


.section-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.section-modal .close-modal .lr{
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.section-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}



/* ----------------------------------- */

/* Start About Us Section              */

/* ----------------------------------- */

.about-us-section-1{
    padding-top: 80px;
    padding-bottom: 60px;
}

.welcome-section{
    padding-bottom: 40px;
}

.welcome-section img{
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.border{
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin: 0 45%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.welcome-section h4{
    padding-top: 20px;
    color: #777;
}

.welcome-section p{
    padding-top: 20px;
    color: #999;
}

.welcome-section:hover .border{
    margin: 0 40%;
}



/* ----------------------------------- */

/* Start About Us Section 2            */

/* ----------------------------------- */
.about-us-section-2{
    padding-top: 80px;
    padding-bottom: 100px;
    background: url(../images/parallax/bg-01.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.skill{
    padding-bottom: 5px;
}

.skill p{
    margin-bottom: 7px;
}

.progress {
    background: #fff;
    overflow: visible;
    height: 30px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 0px;
    -webkit-box-shadow:none;
    box-shadow: none;
}

.progress-bar{
    float: left;
    height: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow:none;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
    position: relative;
}

.progress-bar-span{
    opacity: 1;
    position: absolute;
    top: -5px;
    background: #ACB2B8;
    padding: 10px 15px;
    color: #fff;
    border-radius: 0px;
    right: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


.skill:hover .progress-bar-span{
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.carousel-inner .item img{
    width: 100%;
}



/* ----------------------------------- */

/* Start Service Section               */

/* ----------------------------------- */

.service-section{
    padding-top: 100px;
    padding-bottom: 20px;
}

.feature-2{
    padding-bottom: 80px;
}

.feature-2 h4 {
    font-size: 15px;
    color: #666;
    padding-bottom: 10px;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
}

.feature-2 p{
    color: #444;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}

.feature-2 .media .pull-left i{
    font-size: 2.5em;
    width: 80px;
    height: 80px;
    padding: 25px;
    margin-bottom: 10px;
    position: relative;
    color: #fff;
    box-shadow: 0 0 0 30px transparent;
    -webkit-transform: translate3d(2, 2, 2);
    -moz-transform: translate3d(2, 2, 2);
    -o-transform: translate3d(2, 2, 2);
    transform: translate3d(2, 2, 2);
    -webkit-transition: box-shadow .6s ease-in-out;
    -moz-transition: box-shadow .6s ease-in-out;
    -o-transition: box-shadow .6s ease-in-out;
    transition: box-shadow .6s ease-in-out;
}

.no-touch .feature:hover .media .pull-left i,
.no-touch .feature:active .media .pull-left i,
.no-touch .feature:focus .media .pull-left i {

    -webkit-transition: box-shadow .4s ease-in-out;
    -moz-transition: box-shadow .4s ease-in-out;
    -o-transition: box-shadow .4s ease-in-out;
    transition: box-shadow .4s ease-in-out;
}

.feature-2 .media-body {
    margin-left: 25px !important;
}

.feature-2 .border {
    margin-top: 20px;
    margin-left: 49.999%;
    margin-right: 49.999%;
    border-color: #fff;
}

.feature-2:hover .border {
    margin-left: 0%;
    margin-right: 0%;
}


/* ----------------------------------- */

/* Start Service Section               */

/* ----------------------------------- */


.fun-facts{
    background: url(../images/parallax/bg-02.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 80px;
}

.counter-item{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
}

.counter-item i{
    font-size: 40px;
}

.counter-item h5{
    text-align: center;
    margin-bottom: 0px;
    color: #fff;
}

.timer {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    line-height: 80px;
    font-family: 'Oswald', sans-serif;
}


/* Start Team Member Section */

.team-member-section{
    padding-top: 80px;
    padding-bottom: 100px;
}

#team-section .our-team{
    padding-top: 20px;
}

#team-section .team-member img{
    width: 99%;
    height: auto;
    text-align: center;
}

.team-member .team-details{
    position: absolute;
    top: 0;
    width: 99%;
    height: 100%;
    color: #fff;
    padding: 0 2px;
    opacity: 0;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.team-member:hover .team-details{
    opacity: 1;
    -webkit-animation: bounceIn;
    animation: bounceIn;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

.team-member .team-details h4{
    padding-top: 30%;
    font-size: 22px;
    font-family: 'Oswald', sans-serif
}

.team-member .team-details ul li{
    display: inline-block;
    padding-top: 20px;
}

.team-member .team-details ul li a{
    padding: 8px 12px;
    background: #fff;
    border: 1px solid #fff;
    color: #666;
    font-size: 16px;
}

.team-member:hover .team-details ul li:hover a{
    background: transparent;
    border: 1px solid #ddd;
    color: #fff;
}

.owl-controls {
    margin-top: 35px !important;
}
