@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);

/*=======================================
    Basic Styling Here
=========================================*/
body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 13px;
    line-height: 21px;
}

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a,
a:hover,
a:focus,
a:active,
a.active{
    outline: 0;
}


h1,
h2,
h3,
h4,
h5,
h6{
    text-transform: uppercase; 
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.white-text{
    color: #fff;
}

.section-title h3{
    color: #666; 
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
}


.section-title p{
    padding-bottom: 60px;
    color: #999;
    font-size: 18px;
    font-weight: 300;
}


.btn-primary{
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{
    color: #fff;
    background-color: none !important;
}