/* basic styling here now */

/* owlCarousel controls color */

.owl-controls .owl-page.active{
    background: #5BB12F !important;
    border-radius: 3px !important;
    padding: 2px !important;
   
}

.owl-controls .active > span{
    background: #fff !important;
}


/* leader dot background color */
.dot1,
.dot2{
    background-color: #5BB12F;
}


/* Header Logo Text Color */
.navbar-default .navbar-brand {
    color: #5BB12F;
}


/* Navbar text Color */
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus{
    outline: 0;
    color: #5BB12F;
}

/* active navbar background color */

.navbar-default .navbar-nav > .active > a{
    border-radius: 5px;
    background-color: #5BB12F;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #5BB12F;
}

/* Home Slider h1 tag Color */
#main-slide .slider-content h1 strong{
    color: #5BB12F;
}

.btn-primary{
    border-color: #5BB12F;
    background-color: #5BB12F;
}

.btn-primary:hover{
    border-color: #5BB12F;
}


/* feature icon background color */

.feature i{
    background:#5BB12F ;
}

/* feature icon box-shado bg color */
.no-touch .feature:hover i, 
.no-touch .feature:active i, 
.no-touch .feature:focus i{
    box-shadow: 0 0 0 0 #5BB12F;
    transition: box-shadow .4s ease-in-out;
}


/* portfolio section item hover background color */
.portfolio-item:hover .portfolio-caption{
    background-color: #5BB12F;
}


/* About Section wellcome-section h4 tag hover color */
.welcome-section:hover h4{
    color: #5BB12F;
}


/* About Section wellcome-section border hover color */
.welcome-section:hover .border{
    border-color: #5BB12F;
}


/* progress bar background color */

.progress-bar{
    background-color: #5BB12F;
}

.about-us-section-2 .carousel-indicators li{
    border: 2px solid #5BB12F !important;
}

.about-us-section-2 .carousel-indicators .active{
   background-color: #5BB12F;
}


/* service section i tag background color */
.feature-2 .media .pull-left i{
    background-color: #5BB12F;
}

.feature-2:hover .media .pull-left i{
    background-color: transparent;
    border: 1px solid #5BB12F;
    color: #5BB12F;
}

.feature-2 .border{
    border-color: #5BB12F;
}



/* fun-facts section i and number color here */

.counter-item i{
    color:#5BB12F;
}

.counter-item .timer{
    color:#5BB12F;
}


/* Team member section */

.team-member .team-details{
    background: #5BB12F;
}





/* Pricing Table styling */

.plan-name{
    background-color: #5BB12F;
}

.plan-signup{
    background-color: #5BB12F;
}

/* latest news post */

.latest-post h4 a{
    color: #5BB12F;
}

.latest-post .post-details .date{
    background-color: #5BB12F;
}