/* leader dot background color */
.dot1,
.dot2{
    background-color: #5BB12F;
}


/* Header Logo Text Color */
.navbar-default .navbar-brand {
    color: #5BB12F;
}


/* Navbar text Color */
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus{
    outline: 0;
    color: #5BB12F;
}

/* Home Slider h1 tag Color */
#main-slide .slider-content h1 strong{
    color: #5BB12F;
}

.btn-primary{
    border-color: #5BB12F;
    background-color: #5BB12F;
}


/* feature icon background color */

.feature i{
    background:#5BB12F ;
}

/* feature icon box-shado bg color */
.no-touch .feature:hover i, 
.no-touch .feature:active i, 
.no-touch .feature:focus i{
    box-shadow: 0 0 0 0 #5BB12F;
    transition: box-shadow .4s ease-in-out;
}