/* basic styleing */
a{
    color: #FF432E;
}
/* owlCarousel controls color */

.owl-theme .owl-controls .owl-page.active{
    background: #FF432E ;
    border-radius: 3px ;
    padding: 2px;
   
}

.owl-controls .active > span{
    background: #fff !important;
}


/* leader dot background color */
.dot1,
.dot2{
    background-color: #FF432E;
}


/* Header Logo Text Color */
.navbar-default .navbar-brand {
    color: #FF432E;
}


/* Navbar text Color */
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus{
    outline: 0;
    color: #FF432E;
}

/* active navbar background color */

.navbar-default .navbar-nav > .active > a{
    border-radius: 5px;
    background-color: #FF432E;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #FF432E;
}

/* Home Slider h1 tag Color */
#main-slide .slider-content h1 strong{
    color: #FF432E;
}

.btn-primary{
    border-color: #FF432E;
    background-color: #FF432E;
}

.btn-primary:hover{
    border-color: #FF432E;
}


/* feature icon background color */

.feature i{
    background:#FF432E ;
}

/* feature icon box-shado bg color */
.no-touch .feature:hover i, 
.no-touch .feature:active i, 
.no-touch .feature:focus i{
    box-shadow: 0 0 0 0 #FF432E;
    transition: box-shadow .4s ease-in-out;
}


/* portfolio section item hover background color */
.portfolio-item:hover .portfolio-caption{
    background-color: #FF432E;
}


/* About Section wellcome-section h4 tag hover color */
.welcome-section:hover h4{
    color: #FF432E;
}


/* About Section wellcome-section border hover color */
.welcome-section:hover .border{
    border-color: #FF432E;
}


/* progress bar background color */

.progress-bar{
    background-color: #FF432E;
}

.about-us-section-2 .carousel-indicators li{
    border: 2px solid #FF432E !important;
}

.about-us-section-2 .carousel-indicators .active{
   background-color: #FF432E;
}


/* service section i tag background color */
.feature-2 i{
    background-color: #FF432E;
    border: 1px solid #FF432E;
}

.feature-2:hover  i{
    background-color: transparent;
    color: #FF432E;
}

.feature-2:hover .border{
    border-color: #FF432E;
}



/* fun-facts section i and number color here */

.counter-item i{
    color:#FF432E;
}

.timer{
    color:#FF432E;
}


/* Team member section */

.team-member .team-details{
    background: #FF432E;
}





/* Pricing Table styling */

.plan-name{
    background-color: #FF432E;
}

.plan-signup{
    background-color: #FF432E;
}

/* latest news post */

.latest-post .post-details .date{
    background-color: #FF432E;
}


/* Testimonial Section style */

.testimonials .testimonial-content img{
    border: 3px solid #FF432E;
}

.testimonials .testimonial-author .author {
    color:#FF432E;
}

.testimonials-carousel .owl-controls.clickable .owl-buttons div{
    color: #FF432E;
}




/* Clients and patnar styling */

.owl-theme .owl-controls .owl-buttons div{
    background-color: #FF432E ;
}


/* contact us section background color */
.footer-contact-info{
    background: #FF432E;
}


/* footer border color */

.style-1{
    border-top: 2px solid #FF432E;
}

footer.style-1 .footer-social li a{
    background-color: #FF432E;
}

